
/* ============== Responsive CSS for medium Screens (up to 768px) ================*/
@media screen and (max-width: 799px) {

    section{
        padding: 60px 8%;
    }

    h2 {
        font-size: 30px;
    }


    /* ================= Responsive Nav bar =============== */
    .nav-container .hamburger-icon {
        display: block;
    }
    .nav-container .cross-icon {
        display: block;
        font-size: 30px;
        color: white;
     }
    /* #navbar {
     
    } */

    /* .nav-container {
        
    } */

    .nav-container .menu-list{
        width: 100%;
        height: 100vh;
        position: absolute;
        top: 0;
        left: 100%;
        background-color: #1a202c;
        z-index: 999;
        opacity: 1;
        transition: all 0.8s;
    }
    .nav-container .menu-list ul{
        height: 100vh;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        gap: 40px;
    }
    .nav-container .menu-list ul li a{
       font-size: 25px;
       color: #fff;
    }

    .nav-container .menu-list.active {
        left: 0;
    }

 /* ====================== Home Section Responsive for Medium Device ==================== */
    /* Text content */
    .home-container {
       width: 100%;
       justify-content: space-between;
    }
    .home-container .text-content {
        width: 60%;
        margin-top: 5%;
    }
    
    .text-content .text-1 {
        font-size: 20px;
        font-weight: 400;
    }
    .text-content .text-2 {
        font-size: 60px;
        font-weight: 700;
    }
    .text-content .text-3 {
        font-size: 25px;
        font-weight: 500;
    }
    .text-content .text-3 span {
        color: red;
    }

    /* Imgage Content  */
    .home-container .img-content img {
        display: none;
    }

/*================= About Section Responsive css ================= */
   
    .about-content {
        flex-direction: column;
        margin-top: 10px;
        text-align: center;
    }

    .about-content .left {
        width: 80%;
    }
    .about-content .left img{
        width: 80%;
    }

    .about-content .right {
        width: 80%;
        font-size: 18px;
    }


    .about .about-content .right a{
        font-size: 15px;
        padding: 5px 20px;
    }


    
 /* ====================== Sill overview  Section for Medium Device ==================== */

#skills h1 {
    font-size: 10px;
}

.skills-container {
    gap: 20px;
}

.skills-container .box {
    width: 35%;
    height: 180px;
    padding: 25px 5px;
}

.skills-container .box img {
    width: 80px;
}

.skills-container .box h3 {
        font-size: 20px;
}   
.skills-container .box p {
        font-size: 15px;
}   

 /* ====================== Techstack  Section for Medium Device ==================== */
    .techstack-container {
        grid-template-columns: repeat(3, 1fr);
        text-align: center;
        justify-content: center;
        gap: 10px;
        margin-top: 5px;
        padding: 0 50px;
    }

 /* ====================== Project Section Responsive  for Medium Device ==================== */


 /* ====================== Tech tools Section for Medium Device ==================== */
    .techtools-container {
        display: grid;
        grid-template-columns: repeat(3 , 1fr);
        gap: 20px;
    }
}




/* ======= Responsive CSS for small Screens (upto 477) ======== */
@media screen and (max-width: 477px) {
/* ====================== Nvabar  for Small Device ==================== */
    section{
        padding: 50px 5%;
    }
 /* ====================== Home Section for Small Device ==================== */
    /* Text content */
    .home-container {
        justify-content: space-between;
     }
     .home-container .text-content {
         width: 100%;
         margin-top: 20%;
     }
     
     .text-content .text-1 {
         font-size: 25px;
         font-weight: 400;
     }
     .text-content .text-2 {
         font-size: 55px;
         font-weight: 700;
     }
     .text-content .text-3 {
         font-size: 35px;
         font-weight: 500;
     }
     .text-content .text-3 span {
         color: red;
     }
 
     .home .text-content .social-icon {
        margin-top: 100px;
        margin-right: 50px;
    }

    .home .text-content .social-icon ul li a{
        display: inline-block;
        width: 55px;
        height: 55px;
        border-radius: 50%;
        background-color: #fff;
        box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
        text-align: center;
        transition: 0.6s;
    }
    home .text-content .social-icon ul li a i {
        font-size: 5px;
    }

     /* Imgage Content  */
     .home-container .img-content img {
         display: none;
     }

 /* ====================== About Section for Small Device ==================== */
 .about-content {
    flex-direction: column;
    margin-top: 10px;
}

.about-content .right {
    font-size: 12px;
}

.about-content .right .text {
    font-size: 18px;
   
}

 /* ====================== Skill overview Section for Small Device ==================== */
     .skills-container {
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .skills-container .box {
        width: 80%;
        height: 200px;
        border-radius: 20px;
       
    }

/* ====================== Techstack  Section for Small Device ==================== */

     .techstack-container {
        grid-template-columns: repeat(2, 1fr);
        justify-content: center;
        text-align: center;
        /* gap: 10px; */
    }
    .techstack-container .box {
        width: 160px;
        height: 120px;
        padding: 20px 0;
    }


 /* ====================== Home Section for Small Device ==================== */
    .techtools-container {
        display: grid;
        grid-template-columns: repeat(2 , 1fr);
        gap: 10px;
    }  
    
}
